.landing-container {
  position: relative;
}

.chat-cont {
  position: fixed;
  bottom: 40px;
  right: 40px;
  cursor: pointer;
  z-index: 99999;
}

@media screen and (max-width: 500px) {
  .chat-cont img {
    width: 48px;
  }
}
