.faq-wrapper {
  background: #ffffff;
  width: 100%;
}

.faq-container {
  width: 74%;
  margin: 100px auto 80px;
}

.faq-icon {
  width: 88px;
  margin: 0px auto;
}

.faq-container h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  margin: 24px 0px;
  color: #1f2024;
}

.faq-container p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #696a6c;
  width: 592px;
  margin: 0px auto 72px;
}

@media screen and (max-width: 780px) {
  .faq-container {
    margin: 40px auto;
    width: 75%;
  }

  .faq-container h2 {
    font-size: 20px;
    line-height: 23px;
    margin: 16px 0px 8px;
  }

  .faq-container p {
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    width: 100%;
    margin: 0px 0px 24px;
  }

  .faq-cont {
    width: 100%;
  }
}
