.welcome-container {
  width: 100%;
  background-color: #20042e;
  padding: 88px 0px 107px;
  background-image: url(../../assets/globe.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.welcome-wrapper {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0px auto;
}

.welcome-text {
  width: 51%;
}

.welcome-text > img {
  width: 80%;
}

.welcome-text > h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 72px;
  line-height: 84px;
  width: 730px;
  color: #ffffff;
}

.span-first {
  color: #f46036;
}

.span-second {
  color: #610c89;
}

.welcome-text > p {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  color: #fcfdfd;
  margin-top: 45px;
}

.app-store {
  display: flex;
  align-items: center;
  width: 59%;
  justify-content: space-between;
  margin-top: 69px;
}

.app-store .google-play,
.app-store .apple-store {
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 100px;
  display: flex;
  width: 47%;
  padding: 17px 0px;
  align-items: center;
}

.google-play p,
.apple-store p {
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: #7a301b;
  margin-bottom: 3px;
}

.apple-store h2,
.google-play h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 18.1765px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
}

.apple-store svg,
.google-play img {
  margin: 0px 12px;
}

.apple-black {
  display: none;
}

.app-store .google-play:hover,
.app-store .apple-store:hover {
  background-color: white;
  transition: 1s all ease;
}

.app-store .google-play:hover h2,
.app-store .apple-store:hover h2 {
  color: #1b1b1b;
}

.app-store .apple-store:hover .apple-black {
  display: block;
}

.app-store .apple-store:hover .apple-white {
  display: none;
}

.welcome-img {
  width: 46%;
  position: relative;
}

/* .welcome-img:hover .welcome-card {
  animation: GFG 5s linear;
}

@keyframes GFG {
  0% {
    transform: rotate(0deg) translateY(100px) rotate(0deg);
  }

  100% {
    transform: rotate(360deg) translateY(100px) rotate(-360deg);
  }
} */

.welcome-img-cont {
  width: 85%;
  display: flex;
  justify-content: flex-end;
}

.welcome-card {
  position: absolute;
  top: 0;
  left: -10px;
}

.welcome-img-cont img:last-child {
  position: relative;
  z-index: 10;
}

.welcome-container .arrow-up {
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 100;
}

@media screen and (max-width: 1024px) {
  .welcome-wrapper {
    flex-direction: column;
  }

  .welcome-img,
  .welcome-text,
  .welcome-img-cont {
    width: 100%;
  }

  .welcome-card {
    left: -80px;
    width: 100%;
  }

  .welcome-text > h2 {
    width: 100%;
  }

  .welcome-container .arrow-up {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .app-store {
    width: 100%;
  }

  .welcome-text > h2 {
    font-size: 50px;
  }
}

@media screen and (max-width: 400px) {
  .welcome-container {
    padding: 50px 0px;
  }

  .app-store {
    width: 88%;
    margin: 45px auto;
  }

  .apple-store svg,
  .google-play img {
    width: 24px;
    height: 24px;
  }

  .apple-store h2,
  .google-play h2 {
    font-size: 12px;
    line-height: 14px;
  }

  .apple-store p,
  .google-play p {
    font-size: 8px;
    line-height: 9px;
  }

  .welcome-text > h2 {
    font-size: 40px;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
  }

  .welcome-text > img {
    display: block;
    margin: 0px auto;
  }

  .welcome-text > p {
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    color: #f1e6f7;
  }
}
