.cards-wrapper {
  width: 91%;
  margin: 80px auto 0px;
  background: #1f2024;
  border-radius: 32px;
}

.cards-cont {
  width: 90%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cards-img {
  display: flex;
}

.cards-img-first,
.cards-img-second {
  display: flex;
  flex-direction: column;
}

.cards-img-second {
  margin-left: 30px;
}

.cards-img-first img:first-child {
  margin-bottom: 40px;
}

.cards-img-second img:first-child {
  margin-bottom: 16px;
}

.cards-text {
  width: 38%;
}

.cards-text h2 {
  margin-top: 24px;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  color: #ffffff;
}

.cards-text p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 31px;
  margin: 24px 0px;
  color: #f6f6f6;
  width: 85%;
}

@media screen and (max-width: 1024px) {
  .cards-img {
    display: none;
  }

  .cards-text {
    width: 100%;
  }

  .cards-wrapper {
    padding: 32px 0px;
  }

  .cards-logo {
    width: 48px;
    margin: 0px auto;
  }

  .cards-text h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
  }

  .cards-text p {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    width: 100%;
    margin: 8px 0px 16px;
  }

  .cards-text button {
    margin: 0px auto;
    display: block;
    padding: 12px 16px;
  }
}
