.faq-single {
  background: #feefeb;
  border-radius: 100px;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  padding: 24px 40px;
  margin-top: 30px;
}

.faq-single h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 31px;
  color: #f46036;
}
