.header-container {
  display: flex;
  width: 88%;
  margin: 40px auto;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.header-logo h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #610c89;
}

.header-wrapper {
  width: 945px;
}

.header-body {
  display: flex;
  width: 845px;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  display: flex;
}

.nav-links {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  margin-left: 50px;
  color: #1c1c1c;
  cursor: pointer;
}

/* .nav-links:hover {
  border-bottom: 2px solid red;
} */

.header-body button {
  background: #ff6666;
  border-radius: 60px;
  border: none;
  font-family: "Roboto", sans-serif;
  padding: 12px 20px;
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}
