.header-container {
  width: 100%;
  background: #20042e;
  /* position: fixed;
  z-index: 20; */
}

.header-cont {
  display: flex;
  width: 88%;
  margin: 0px auto;
  padding: 40px 0px;
  justify-content: space-between;
  align-items: center;
}

.header-logo h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #610c89;
}

.header-nav {
  display: flex;
  align-items: center;
  transition: 1s all ease;
}

.nav-links {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
  margin-left: 32px;
  cursor: pointer;
}

/* .nav-links:hover {
  border-bottom: 2px solid red;
} */

.header-nav button {
  background: #f46036;
  border-radius: 100px;
  border: none;
  font-family: "Work Sans", sans-serif;
  padding: 18px 56px;
  cursor: pointer;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  color: #ffffff;
  margin-left: 32px;
}

.header-action {
  display: none;
}

@media screen and (max-width: 1024px) {
  .header-nav button {
    padding: 18px 20px;
  }
}

@media screen and (max-width: 975px) {
  .header-cont {
    width: 95%;
  }
}

@media screen and (max-width: 905px) {
  .header-container {
    position: relative;
  }

  .header-logo {
    width: 87px;
  }

  .header-logo img {
    width: 100%;
  }

  .header-cont {
    width: 88%;
  }

  .header-action {
    display: block;
  }

  .header-bars {
    font-size: 25px;
    color: white;
    cursor: pointer;
  }

  .header-times {
    font-size: 25px;
    color: red;
    cursor: pointer;
  }

  .header-nav {
    flex-direction: column;
    position: absolute;
    left: -300px;
    transition: 1s all ease;
    top: 100px;
  }

  .header-nav-active {
    left: 0px;
    transition: 1s all ease;
    width: 100%;
    background-color: white;
    z-index: 15;
  }

  .nav-links {
    color: #1b1b1b;
    padding: 24px 0px;
  }

  .header-nav button {
    padding: 18px 56px;
    margin: 24px 0px;
  }
}
