.bills-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

/* .bills-text {
  width: 40%;
  margin: 0px auto;
  background-color: green;
} */

.bills-text h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 42px;
  color: #1f2024;
}

.bills-text p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 31px;
  margin: 24px 0px;
  color: #4c4d50;
}
