.bills-cont {
  width: 100%;
  position: relative;
  padding: 140px 0px;
}

.bills-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 87%;
  margin: 0px auto;
}

.orange-big {
  position: absolute;
  top: 0px;
  right: 226px;
}

.orange-small {
  position: absolute;
  top: 64px;
  right: 163px;
}

.grey-half {
  position: absolute;
  top: 0px;
  right: 0px;
}

.curved-arrow {
  position: absolute;
  bottom: 0;
  left: 40%;
  z-index: 3;
}

.small-grey {
  position: absolute;
  bottom: 0px;
  left: 169px;
}

.orange-left {
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.grey-full {
  position: absolute;
  left: 0px;
  top: 30%;
}

.bills-text {
  margin-left: 83px;
}

.bills-text h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 42px;
  color: #1f2024;
  width: 439px;
  margin-top: 24px;
}

.bills-text p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 31px;
  margin: 24px 0px;
  color: #4c4d50;
  width: 374px;
}

.bills-img {
  position: relative;
  z-index: 2;
}
