.features-container {
  width: 80%;
  margin: 100px auto;
}

.features-container h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  margin-bottom: 42px;
  text-align: center;
  color: #292d32;
}

.features-wrapper {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;
}
