.features-container {
  width: 100%;
  padding: 56px 0px 80px;
  background: #f6f6f6;
}

.features-icon {
  width: 88px;
  margin: 0px auto;
}

.features-container h2 {
  margin-top: 24px;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 42px;
  text-align: center;
  color: #292d32;
}

.features-wrapper {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

@media screen and (max-width: 780px) {
  .features-container {
    padding: 40px 0px;
  }

  .features-container h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 32px;
  }

  .features-wrapper img {
    width: 17%;
  }
}
