.footer-container {
  background: #13021b;
  position: relative;
}

.download-container {
  background: #f46036;
  border-radius: 32px;
  width: 81%;
  left: 9%;
  position: absolute;
  top: -30%;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.download-middle > h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  color: #ffffff;
}

.download-middle {
  width: 63%;
}

.download-app {
  width: 62%;
  margin: 48px auto 0px;
}

.download-app .app-store {
  margin-top: 0px;
  width: 100%;
}

.footer-wrapper {
  padding: 259px 0px 53px;
  border-bottom: 1.19946px solid #e9e9e9;
}

.footer-cont {
  width: 90%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
}

.footer-text {
  width: 38%;
}

.footer-text h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  color: #610c89;
}

.footer-text span {
  color: #f46036;
}

.footer-text p {
  margin: 56px 0px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 26px;
  color: #ffffff;
}

.footer-socials {
  width: 58%;
  display: flex;
  justify-content: space-between;
}

.footer-link p {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: #ffffff;
  margin-bottom: 24px;
}

.footer-links p {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 24px;
  color: #f8f8f8;
}

.footer-copy {
  width: 94%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  padding: 24px 0px 40px;
}

.footer-copy p {
  font-style: normal;
  font-weight: 500;
  font-size: 16.7925px;
  line-height: 20px;
  color: #e9e9e9;
}

.footer-copy span:first-child {
  color: #f46036;
}

.footer-copy span:last-child {
  color: #610c89;
}

@media screen and (max-width: 1024px) {
  .download-middle {
    position: absolute;
    width: 81%;
    margin: 32px auto;
    left: 9%;
  }
}

@media screen and (max-width: 875px) {
  .download-app {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .download-container {
    top: -20%;
  }

  .download-middle > h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
  }

  .download-app .app-store {
    flex-direction: column;
  }

  .download-app .apple-store,
  .download-app .google-play {
    width: 100% !important;
    margin-top: 24px;
  }

  .download-app {
    margin-top: 0px;
  }

  .footer-cont,
  .footer-copy {
    flex-direction: column;
  }

  .footer-text,
  .footer-link,
  .footer-links {
    width: 100%;
    text-align: center;
  }

  .footer-text h2 {
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
  }

  .footer-text p {
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    margin: 24px 0px;
  }

  .footer-socials {
    margin: 0px auto;
  }

  .footer-link,
  .footer-links {
    margin-top: 24px;
  }

  .footer-link p,
  .footer-links p {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
  }

  .footer-copy {
    text-align: center;
    padding: 24px 0px;
  }

  .footer-copy p {
    margin-top: 16px;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
  }

  .footer-copy p:first-child {
    margin-top: 0px;
  }
}
