.testimonial-container {
  width: 100%;
  margin: 80px 0px 315px;
}

.testimonial-logo {
  width: 88px;
  margin: 0px auto;
}

.testimonial-container > h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  margin: 24px 0px;
  color: #1f2024;
}

.testimonial-container > p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  width: 710px;
  margin: 0px auto;
  color: #696a6c;
}

.testimonial-body {
  width: 100%;
}

.testimonial-single {
  width: 90% !important;
  box-shadow: 0px 2px 4px -2px rgba(24, 39, 75, 0.12), 0px 4px 4px -2px rgba(24, 39, 75, 0.08);
  background: #ffffff;
  border-radius: 0px 24px 24px 0px;
  margin-top: 80px !important;
  box-sizing: border-box;
}

.testimonial-wrapper {
  display: flex;
  align-items: center;
}

.testimonial-img img {
  border-radius: 24px 0px 0px 24px;
}

.testimonial-text {
  flex: 1;
}

.testimonial-single-text {
  width: 90%;
  margin: 0px auto;
}

.testimonial-details {
  display: flex;
  justify-content: space-between;
}

.testimonial-details div h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 4px;
  color: #000000;
}

.testimonial-details div p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #505050;
}
.testimonial-single-text > h2 {
  margin: 16px 0px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #4c4d50;
}

.star-group {
  width: fit-content;
  background: #1f2024;
  border-radius: 100px;
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.star-group img {
  margin-left: 4px;
}

.star-group img:first-child {
  margin: 0px;
}

.slick-arrow {
  display: none !important;
}

@media screen and (max-width: 800px) {
  .testimonial-container > h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    margin: 16px 0px 8px;
  }

  .testimonial-container > p {
    width: 100%;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    width: 88%;
    margin: 0px auto;
  }

  .testimonial-body {
    width: 90%;
    margin: 0px auto;
  }

  .testimonial-single,
  .testimonial-wrapper {
    width: 100% !important;
  }

  .testimonial-img {
    width: 32%;
  }

  .testimonial-img img {
    width: 100%;
  }

  .star-group img {
    width: 12px;
  }
}

@media screen and (max-width: 600px) {
  .testimonial-details div h2 {
    font-size: 12px;
    line-height: 14px;
  }

  .testimonial-details div p {
    font-size: 8px;
    line-height: 9px;
  }

  .testimonial-single-text > h2 {
    font-weight: 500;
    font-size: 8px;
    line-height: 9px;
  }
}
